{% extends 'base.html' %}
<!-- loading static files -->
{% load static %}
<!-- start of content block -->
{% block content %}
<div class="full-form-container background-light">
  <form
    id="new_project"
    method="POST"
    enctype="multipart/form-data"
    class="full-form"
  >
    {% csrf_token %}
    <p class="body-lg-black text-start text-primary">
      Share a glimpse of what you are working on
    </p>

    <div class="full-form-group">
      <label class="secondary-text text-start body-sm-black" for="name"
        >Project Name</label
      >
      <input
        type="text"
        class="border-white body-sm-regular background-white full-form-input"
        placeholder="Enter project name"
        id="title"
        name="title"
      />
    </div>
    <div class="full-form-group">
      <label class="secondary-text text-start body-sm-black" for="landing_image"
        >Project Lading Page</label
      >
      <input
        type="file"
        accept="image/*"
        id="landing_page"
        name="landing_page"
        class="border-white body-sm-regular background-white full-form-input"
      />
    </div>
    <div class="full-form-group">
      <label class="secondary-text text-start body-sm-black" for="link"
        >Project Live Link</label
      >
      <input
        id="link"
        name="link"
        type="text"
        class="border-white body-sm-regular background-white full-form-input"
        placeholder="Enter project's live url"
      />
    </div>
    <div class="full-form-group">
      <label class="secondary-text text-start body-black" for="description"
        >Project Description</label
      >
      <textarea
        name="detailed_description"
        id="description"
        type="text"
        class="border-white body-sm-regular background-white full-form-input"
        placeholder="Enter detailed project description..."
      ></textarea>
    </div>

    <input
      type="text"
      id="profile"
      name="profile"
      hidden
      value="{{profile.id}}"
    />
    <button
      type="submit"
      class="
        full-form-button
        border-primary
        background-primary
        text-white
        body-sm-bold
        button
      "
    >
      Post
    </button>
  </form>
</div>
{% endblock content %}
