{% extends 'django_registration/base.html' %}
<!-- loaded bootstrap -->
{%load bootstrap4 %}
<!-- start of block content -->
{% block content %}
<div class="auth-form-container justify-content-center">
  {% if form.errors %}
  <p>Password or Username is incorrect</p>
  {% endif %}

  <form class="auth-form mx-auto" action="/accounts/register/" method="post">
    <p class="auth-form-header">Welcome to Project Glimpse</p>
    <p class="auth-form-body">Create an account to continue:</p>
    {% csrf_token %} {% bootstrap_form form %}
  <input type="submit" value="Sign Up" class="submit-button" />
  <input type="hidden" name="next" value="{{next}}" />
</form>
<p class=" auth-link">
  If you already have an account,
  <span
    ><a class="font-weight-bold" href="/accounts/login/"
      >click here.</a
    ></span
  >
</p>
</div>
  {% endblock content %}
</div>
